# Compiled class files
*.class
*.classpath

# Log files
*.log

# application.properties (exclude from version control)
src/main/resources/application.properties

#env fileß
.env

# Build directories
target/
# To ensure that target in subdirectories is also excluded
**/target/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar
# Exclude target directories in the src tree
**/src/main/**/target/
**/src/test/**/target/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### API KEY ###
api-keys.properties

### macOS (system file) ###
.DS_Store
